/*page globale*/
@font-face
{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#page
{
	margin:auto;
	width:900px;
	font-family:Raleway, Arial,sans-serif;
	
}

/*header*/
header
{
	display:flex;
	justify-content : space-between;
}

header img
{
	margin-top:20px;
	width:60px;
}

ul
{
	list-style-type: none;
	display:flex;
}

a 
{
	text-decoration:none;
	color:black;
}

nav ul
{
	padding-left:0px;
	padding-top:10px;
	font-size:0.7em;
}

nav li
{
	margin:10px 20px 20px 20px;
}

nav li:nth-child(1) a:hover ,nav li:nth-child(1) a:focus,
nav li:nth-child(2) a:hover ,nav li:nth-child(2) a:focus
{
	border-top:1px solid blue;
	padding:25px 10px 0px 10px;
	color:#0065FC;
}

nav li:last-child a
{
	color:#0065FC;
	font-weight:bold;
}

/*premiere section : partie recherche et filtres*/
h1
{
	font-size:1em;
	margin-bottom:0px;
}

h2
{
	font-size:0.8em;
	font-weight:normal;
}


section p
{
	font-size:0.8em;
	margin-top:5px;
}

.fa-map-marker-alt
{
	padding-left:12px;
	font-size:10px;
}

form
{
	position:relative;
}

form div
{
	position:absolute;
	border:1px solid #F2F2F2; 
	background-color:#F2F2F2;
	width:35px;
	height:28px;
	border-radius:10px 0px 0px 10px;
}

 form p:nth-child(2)
{
	position:absolute;
	left:190px;
	top:-5px;
	border:1px solid #0065FC;
	padding:7px 10px 6px 15px;
	border-radius:0px 10px 10px 0px; 
	background-color:#0065FC;
}

form  a
{
	color:white;
}

input
{
	border-radius:10px;
	padding:8px 70px 8px 45px;
	font-weight:bold;
	font-size:0.8em;
	border:1px solid #F2F2F2;
}

.recherche ul
{
	/* justify-content: flex-start; */
	align-items: center;
	margin-left:0px;
	padding-left:0px;
	height:30px;
	font-size: 0.8em;
}


.recherche li:nth-child(2),.recherche li:nth-child(3)
,.recherche li:nth-child(4),.recherche li:nth-child(5)
{
	padding: 5px 10px 5px 30px;
	border : 1px solid rgb(210,210,210);
	border-radius: 20px 20px 20px 20px;
	font-weight:bold;
	position:relative;
	font-size:0.8em;

}

.recherche li div
{
	left: -2px;
	top:-1px;
	background-color: #DEEBFF;
	border-radius:50%;
	width: 24px;
	height: 24px;
	position:absolute; 
}

.recherche li:first-child
{
	font-weight:bold;
}

.recherche li:nth-child(2)
{
	left: 15px;
	margin-left: 15px;
}
.recherche li:nth-child(3)
{
	left: 30px;
}
.recherche li:nth-child(4)
{
	left: 50px;
}
.recherche li:nth-child(5)
{
	left: 70px;
} 

.recherche ul a:hover
{
	background-color:#F2F2F2;
	padding:5px 0px 5px 0px;
}


.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
	color:blue;
	padding-left:8px;
	padding-top:3px;
}

.fa-money-bill-wave
{
	padding-left:7px;
}

.recherche div:last-child
{
	display:flex;
}

.fa-info
{
	color:#0065FC; 
	font-size:7px;
	display:flex;
	border:1px solid rgb(210,210,210);
	border-radius:50%;
	padding:2px 5px 2px 5px;
	margin-right:5px;
	margin-left:5px;
}

/*partie hébergements et populaire*/
h3
{
	font-size: 0.8em;
}

.heb_pop
{
	display:flex;
	justify-content:space-between;
}


/* #hebergements */
figcaption
{
	font-size:0.6em;
	font-weight:bold;
	padding-top:2px;
	padding-left:5px;
}

.heb_pop > div:first-child
{
	background-color:#F2F2F2;
	width:69%;
	height:430px;
	border-radius:10px;
}

.heb_pop h3
{
	padding-top:15px;
	padding-left:20px;
}

.heb_pop h3+div
{
	display:flex;
	flex-wrap: wrap;
	/* border:1px solid green; */
}

.heb_pop h3+div p
{
	margin:0px 0px 3px 0px;
}
 
.heb_pop > div p
{
	font-size: 0.6em;
	padding-left:8px;
} 
/* 
#hebergements a
{
	color:black;
	text-decoration:none;
} */

.heb_pop > div > p a
{
	font-weight:bold; 
	padding-left:12px;
}

.heb_pop > div > div div
{
	background-color:white;
	width:30%;
	height:55%; 
	margin-left:2.5%;
	border-radius : 10px;
	margin-bottom:20px;
	box-shadow:6px 6px 12px rgb(210,210,210);
}

/* #hebergements div:first-of-type div figure */
.heb_pop > div figure
{
	margin:3px;
}

/* #hebergements div:first-of-type div img */
.heb_pop > div img
{
	width:180px;
	height:100px; 
	border-radius:10px 10px 0 0;
	object-fit:cover;
}

.blue{
	color:#0065FC; 
	font-size:7px;
}

.grey{
	color:rgb(212,212,212);
	font-size:7px;
}

/* partie populaire */
aside
{
	background-color:#F2F2F2;
	width:28%;
	height:430px;
	border-radius:10px;
	display:flex;
	flex-wrap:wrap;
}

.fa-chart-line
{
	margin-top:22px;
	margin-left:75px;
	font-size:1.3em;
}
/* 
aside a
{
	text-decoration:none;
	color:black;
} */


aside div:first-child
{
	background-color:white;
	width:210px;
	height:98px;
	margin-left:20px;
	margin-bottom:25px;
	border-radius:10px;
	display:flex;
	box-shadow:6px 6px 12px rgb(210,210,210);
}

aside div div
{
	width:100px;
	flex-wrap:wrap;
	margin-left:10px;
}

aside img
{
	width:90px;
	height:90px; 
	margin-top:4px ;
	margin-left:4px;
	border-radius:10px 0px 0px 10px;
	object-fit:cover;
}

aside p
{
	font-size:0.6em;
	font-style:normal;
}

aside p:first-child
{
	font-weight:bold;
}

aside .fa-star
{
	padding-top:18px;
}

/*activités*/
#activites
{
	padding-top:20px;
	padding-bottom:20px;
}

/* #activites div:first-of-type{
    display:flex;
    width:100%;
	height:320px;
	justify-content:space-between;
	border:1px solid green;
} */

#activites figure
{
	margin:0;
}

#activites > div
{
    display:flex;
    width:100%;
	height:300px;
	justify-content:space-between;
}

#activites img
{
	width:200px;
	object-fit:cover;
	border-radius:10px 10px 0 0;
}

#activites > div > div
{
	width:200px;
}

/* Gestion des colonnes impaires */
#activites > div > div:nth-child(odd)
{
    background-color:white;
    /* width:200px; */
	height:280px;
	box-shadow:6px 6px 12px #F2F2F2;
	border-radius:10px;
}

#activites > div > div:nth-child(odd) img
{
	height:250px; 
}

/* Gestion des dernieres images des colonnes paires */
#activites > div > div:nth-child(even) > div:last-child
{
	margin-top:20px;
}

/* Gestion de la 4e colonne */
#activites > div > div:last-child div
{
	background-color:white;
    /* width:200px; */
    height:130px;
	box-shadow:6px 6px 12px #F2F2F2;
    border-radius:10px;
}

#activites > div > div:last-child img
{
	/* width:200px; */
	height:100px;
	/* border:1px solid green; */
}

/* #activites div:first-of-type div:nth-child(4) div img
{
	
	object-fit:cover;
    border:1px solid pink;
} */

/* Gestion de la 2e colonne */
#activites > div > div:nth-child(2) div:first-child 
{
	height:160px;
	box-shadow:6px 6px 12px #F2F2F2;
    border-radius:10px;
}

#activites > div > div:nth-child(2) div:first-child img
{
	height:130px;
}


#activites > div > div:nth-child(2) div:last-child
{
	height:100px;
	box-shadow:6px 6px 12px #F2F2F2;
    border-radius:10px;
}

#activites > div > div:nth-child(2) div:last-child img
{
	height:70px;
}

#activites figcaption
{
	padding-top:5px;
}


/*footer*/
footer
{
	background-color:#F2F2F2;
	display:flex;
	font-size:0.8em;
	width: 950px;
	margin:auto;
}

h4
{
	font-size:1em;
}

footer div
{
	margin:15px 130px 30px 30px;
}

footer p
{
	margin:0px 0px 5px 0px;
}