/*page globale*/
@font-face
{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#page
{
	margin:auto;
	width:900px;
	font-family:Raleway, Arial,sans-serif;
	
}

/*header*/
header
{
	display:flex;
	justify-content : space-between;
}

header img
{
	display:flex;
	margin-top:30px;
	width:60px;
}

nav ul
{
	list-style-type: none;
	display:flex;
	padding-left:0px;
	padding-top:10px;
	font-size:0.7em;
}

nav li
{
	margin:10px 20px 20px 20px;
}

nav ul li:nth-child(1) a ,nav ul li:nth-child(2) a 
{
	
	text-decoration:none;
	color:black;
	
}

nav ul li:nth-child(1) a:hover ,nav ul li:nth-child(1) a:focus,
nav ul li:nth-child(2) a:hover ,nav ul li:nth-child(2) a:focus
{
	border-top:1px solid blue;
	padding:25px 10px 0px 10px;
	color:#0065FC;
}

header nav ul li:last-child a
{
	color:#0065FC;
	font-weight:bold;
	text-decoration:none;
}


.fa-map-marker-alt
{
	padding-left:12px;
	font-size:10px;
}

form div
{
	position:absolute;
	border:1px solid #F2F2F2; 
	background-color:#F2F2F2;
	width:35px;
	height:28px;
	border-radius:10px 0px 0px 10px;
}

.recherche form p:nth-child(2)
{
	position:absolute;
	left:190px;
	top:-5px;
	border:1px solid #0065FC;
	padding:7px 10px 6px 15px;
	border-radius:0px 10px 10px 0px; 
	background-color:#0065FC;
}

.recherche form  a
{
	color:white;
	text-decoration:none;
}

form
{
	position:relative;
}

input
{
	border-radius:10px;
	padding:8px 70px 8px 45px;
	font-weight:bold;
	font-size:0.8em;
	border:1px solid #F2F2F2;
}

.recherche ul
{
	list-style-type: none;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	margin-left:0px;
	padding-left:0px;
	height:30px;
	font-size: 0.8em;
}


.recherche ul li:nth-child(2),.recherche ul li:nth-child(3)
,.recherche ul li:nth-child(4),.recherche ul li:nth-child(5)
{
	padding: 5px 10px 5px 30px;
	border : 1px solid rgb(210,210,210);
	border-radius: 20px 20px 20px 20px;
	font-weight:bold;
	position:relative;
	font-size:0.8em;

}


.recherche ul li div
{
	left: -2px;
	top:-1px;
	background-color: #DEEBFF;
	border-radius:50%;
	width: 24px;
	height: 24px;
	position:absolute; 
}


.recherche ul li:first-child
{
	font-weight:bold;
}

.recherche ul li:nth-child(2)
{
	left: 15px;
	margin-left: 15px;
}
.recherche ul li:nth-child(3)
{
	left: 30px;
}
.recherche ul li:nth-child(4)
{
	left: 50px;
}
.recherche ul li:nth-child(5)
{
	left: 70px;
} 

.recherche ul a
{
	text-decoration: none;
	color:black;
}

.recherche ul a:hover
{
	background-color:#F2F2F2;
	padding:5px 0px 5px 0px;
}

.fa-money-bill-wave
{
	color:blue;
	padding-left:6px;
	padding-top:3px;
}

.fa-child,.fa-heart,.fa-dog
{
	color:blue;
	padding-left:8px;
	padding-top:3px;
}


.recherche div
{
	display:flex;
}


.fa-info
{
	color:#0065FC; 
	font-size:7px;
	display:flex;
	border:1px solid rgb(210,210,210);
	border-radius:50%;
	padding:2px 5px 2px 5px;
	margin-right:5px;
}

h1
{
	font-size:1em;
	margin-bottom:0px;
}

section p
{
	font-size:0.8em;
	margin-top:5px;
}

/*partie hébergements et populaire*/
.heb_pop
{
	display:flex;
	justify-content:space-between;
}


.hebergements
{
	background-color:#F2F2F2;
	width:69%;
	height:430px;
	border-radius:10px;
}

.hebergements h2,aside h2
{
	font-size: 0.8em;
	padding-top:15px;
	padding-left:20px;
}

.heb_pop h2+div
{
	display:flex;
	flex-wrap: wrap;
	/* border:1px solid green; */
}

.heb_pop h2+div p
{
	margin:0px 0px 3px 0px;
}

 
.hebergements p
{
	font-size: 0.6em;
	padding-left:8px;
} 

.hebergements a
{
	color:black;
	text-decoration:none;
	font-weight:bold;
	padding-left:10px;
}

.hebergements div:first-of-type div:nth-child(odd)
{
	background-color:white;
	width:30%;
	height:55%; 
	margin-left:2.5%;
	border-radius : 10px;
	margin-bottom:20px;
	box-shadow:6px 6px 12px #F2F2F2;
}



.hebergements div:first-of-type div:nth-child(even)
{
	background-color:white;
	width:30%;
	height:55%; 
	margin-left:2.5%;
	border-radius : 10px;
	margin-bottom:20px;
	box-shadow:6px 6px 12px #F2F2F2;
}


.hebergements figcaption
{
	font-size:0.6em;
	font-weight:bold;
	padding-top:2px;
	padding-left:5px;
}


.blue{
	color:#0065FC; 
	font-size:7px;
}

.grey{
	color:rgb(212,212,212);
	font-size:7px;
}



aside
{
	background-color:#F2F2F2;
	width:28%;
	height:430px;
	border-radius:10px;
	display:flex;
	flex-wrap:wrap;
}

.fa-chart-line
{
	margin-top:22px;
	margin-left:75px;
	font-size:1.3em;
}

aside div
{
	background-color:white;
	width:220px;
	height:100px;
	margin-left:10px;
	border-radius:10px;
	display:flex;
	box-shadow:6px 6px 12px #F2F2F2;
}

aside div div
{
	flex-wrap:wrap;
}


aside em
{
	font-weight:bold;
	font-style:normal;
	font-size:0.6em;
	/* border:1px solid green; */
	margin-top:10px;
}

aside p
{
	font-size:0.6em;
	font-style:normal;
	/* border:1px solid red; */
}

aside .fa-star
{
	padding-top:18px;
}



/*activités*/
.activites 
{
	padding-top:20px;

}

.activites h2
{
	font-size:0.8em;
}


/*footer*/
footer
{
	background-color:#F2F2F2;
	display:flex;
	font-size:0.8em;
	width: 950px;
	margin:auto;
}

h3
{
	font-size:1em;
}

footer div
{
	margin:15px 130px 30px 30px;
	
}

footer div p
{
	margin:0px 0px 5px 0px;
	
}

